apiVersion: apps/v1
kind: Deployment
metadata:
  name: telemetry-api
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app: telemetry-api
  template:
    metadata:
      labels:
        app: telemetry-api
    spec:
      containers:
        - name: api
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          env:
            - name: POSTGRES_DSN
              value: "postgres://{{ .Values.postgres.username }}:{{ .Values.postgres.password }}@telemetry-postgres:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}?sslmode=disable"
          ports:
            - containerPort: 8080


